@font-face {
    font-family: 'Brother Signature';
    src: url('BrotherSignature.woff2') format('woff2'),
        url('BrotherSignature.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

